.testimonials {
    padding-bottom: 155px;
    @media (max-width: 450px) {
            padding-bottom: 70px;
        }
}

.testimonials-wrap {
    display: flex;
    @media (max-width: 900px) {
            flex-direction: column;
            align-items: center;
        }
                @media (max-width: 321px) {
                    width: 320px;
        
        
                }
}


.testimonials-wrap__info {
    background-color: #5C3249;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 150px;
    padding-left: 130px;
    @media (max-width: 1282px) {
            padding-right: 88px;
                padding-left: 104px;
        }
                @media (max-width: 900px) {
                    width: 100%;
                    padding: 30px 15px 100px 15px;
                }
                                
    
}

.testimonials-author {
font-family: "Raleway_bold";
font-weight: 700;
font-size: 13px;
line-height: 15.3px;
color: white;
text-transform: uppercase;
align-self: flex-start;
margin-top: 15px;
@media (max-width: 1282px) {
        font-size: 12px;
        line-height: 14px;
    }
        @media (max-width: 900px) {
           
            text-align: center;
            align-self: center;
        }
}

.testimonials-text {
    font-family: "Cardo";
    font-size: 36px;
    line-height: 49px;
    color: white;
    @media (max-width: 1282px) {
            font-size: 24px;
                line-height: 32px;
        }
                @media (max-width: 900px) {
        
                    text-align: center;
                    align-self: center;
                }
    
}

.testimonials-wrap__img {
    width: 50%;
    @media (max-width: 900px) {
            width: 100%;
        }
}
.testimonials-wrap__img img {
    width: 100%;
    object-fit: cover;
    height: 490px;
    @media (max-width: 900px) {
            height: 350px;
        }
                @media (max-width: 321px) {
                    width: 320px;
        height: 212px;
        
                }
}
