.works-img-wrap {
    position: relative;
    display: grid;
    grid-template-areas:
        "first second third fourth"
        "fith sixth seventh eight";

}

.works-img-wrap__el img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works-img-wrap__el:hover {
    .el--hover {
        opacity: 1;
        visibility: visible;
    }
         cursor: pointer;
}

.works-img-wrap__el {
    position: relative;
}
.el--hover {
    background-color: #FF4343CC;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.el--hover__title {
    font-family: "Raleway-Black";
    font-weight: 900;
    font-size: 24px;
    color: white;
    line-height: 21px;
    margin-bottom: 20px;
    text-transform: uppercase;
    @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
        }
    
    
}

.el--hover__subtitle {
    color: white;
font-size: 18px;
line-height: 21px;
@media (max-width: 1024px) {
        font-size: 14px;
        line-height: 16px;
    }
}