.footer__title {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.footer-wrap__icn {
    text-align: center;
}

.footer__icn:not(:last-child) {
    margin-right: 44px;
}

.footer__icn {
    margin-top: 20px;
    margin-bottom: 20px;
    
}