.footer-wrap__title {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.footer-wrap-list {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 20px;
}




