.header-wrap {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.header-wrap__png {
    display: flex;
}

.navigation-list__item a {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 19px; 
}

.navigation-list__item:not(:last-child) {
    margin-right: 40px;
}
.navigation-list {
    display: flex;  
}
