.header-wrap {
    display: flex;
}

.header-wrap__png {
    display: flex;
    max-width: 85px;
    max-height: 31px;
    margin-left: 115px;
    margin-top: 23px;
    margin-bottom: 22px;
}

.navigation-list__item a {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 19px; 
}

.navigation-list {
    display: flex;
    margin-top: 27px;
    margin-left: 400px;
}

.navigation-list__item:not(:last-child) {
     margin-right: 65px;
}

