
.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
    padding-top: 100px;
}

.subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
   display: flex;
    justify-content: center;
}

.button-section {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background-color: black;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: white;
            border: 1px solid black;
            height: 48px;
            width: 180px;
        
}
.button-section:not(:last-child) {
    margin-right: 24px;
}

.shop-links-section {
    justify-content: center;
    
}

.section-title {
    justify-content: flex-start;
    margin-bottom: 24px;
    margin-top: 100px;
    font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        display: flex;
        
}

.desription {
    display: flex;
    flex-direction: column;
}

.description__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
   padding-left: 5px;
    margin-bottom: 6px;
}

.description__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 5px;
    display: block;
    width: 350px;
}

.description-wrap {
    display: flex;
    justify-content: space-between; 
}

.description-wrap *:not(:last-child) {
    margin-right: 10px;
}



.collections-wrap {
    padding-left: 40px;
    padding-bottom: 150px;
    padding-right: 40px;
}

.description__photo img {
    width:100%;
}

.collection-photo img {
    width: 100%;  
}